#timetable{
	color: #333;
	font-size: 16px;
	font-weight: 400; 
	margin-top: 20px;
}
tr:hover > #timetable{
	font-size: 60px;
}
tr{
	border:none;
	padding: 5px;
}
tr:nth-child(even) {background-color: #c0d7fb}
tr:hover {background-color: #c0d7fb}