.abh_box_down {
    margin: 0
}

.abh_box_up {
    margin: 0
}

.abh_box {
    position: absolute;
    width: 0;
    height: 0
}

.abh_tabs {
    display: none;
    position: absolute;
    top: 57px;
    left: -3px;
    width: 55px;
    list-style: none;
    padding: 0 0 5px 0;
    margin: 0;
    font: 13px arial
}

.abh_tabs li {
    display: block;
    width: 100%;
    text-align: center;
    line-height: 11px;
    height: 15px
}

.abh_tabs li a {
    font-size: 10px;
    border: 0 solid #ccc;
    text-decoration: none;
    border-bottom: none;
    padding: 0;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.abh_tabs li.abh_active a {
    padding: 0;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.abh_tabs li a.icon_accept {
}

.abh_tabs li a.icon_accept:hover {
    padding-left: 24px
}

.abh_tabs_content_container {
    border: 2px solid #ccc;
    border-top: none;
    padding: 10px;
    width: 400px
}

.abh_tab_content {
    display: block;
    position: absolute;
    width: 80px;
    min-height: 245px;
    top: -10px;
    left: -125px;
    text-align: right;
    padding: 0;
    margin: 0
}

.abh_tab_content .abh_tab {
    display: none
}

.abh_tab_content .abh_about {
    display: block
}

.abh_tab_content .abh_image {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    float: left
}

.abh_tab_content .abh_image img {
    max-width: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    cursor: pointer
}

.abh_tab_content .abh_image a{
    border: none !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !important;
    -webkit-box-shadow: none !important;

}

.abh_tab_content .abh_text {
    line-height: 1.5
}

.abh_tab_content .abh_text h3, .abh_tab_content .abh_text h4 {
    clear: both;
    font-weight: normal;
    text-transform: capitalize;
    text-align: center;
    font-size: 12px;
    line-height: 14px !important;
    text-decoration: none;
    margin: 83px 0 0 0 !important;
    padding: 0 0 4px 0;
    border-bottom: 1px solid #ddd;
    cursor: pointer
}

.abh_tab_content .abh_text h3 a:hover, .abh_tab_content .abh_text h4 a:hover {
    text-decoration: none
}

.abh_tab_content .abh_text h3 .abh_arrow {
    float: right;
    background: transparent url('../img/sprite.png') no-repeat;
    background-position: 0 -29px;
    display: inline-block;
    font-size: 14px;
    padding-right: 13px;
    margin: 0;
    width: 8px;
    height: 17px
}

.abh_tab_content .abh_text h3 .abh_active {
    background-position: 0 -49px
}

.abh_tab_content .abh_text .fn a {
    text-decoration: none;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.abh_tab_content .abh_text .abh_job {
    display: none
}

.abh_tab_content .abh_text .abh_job span {
    font-size: 13px;
    margin-bottom: 15px
}

.abh_tab_content .abh_description {
    display: none;
    width: 100%;
    margin-top: 5px
}

.abh_tab_content .abh_text .abh_allposts {
    display: none;
    font-size: 11px;
    vertical-align: middle
}

.abh_tab_content .abh_text ul {
    list-style: none;
    padding: 0;
    margin: 5px 0 0 10px
}

.abh_tab_content .abh_social {
    display: none;
    position: absolute;
    width: 80px;
    top: 130px;
    line-height: 1px;
    padding: 0;
    margin: 3px 0 0 0;
    text-align: center
}

.abh_tab_content .abh_social div {
    width: auto !important
}

.abh_tab_content .abh_social a {
    display: inline-block;
    background: transparent url('../img/sprite.png') no-repeat;
    width: 24px;
    height: 24px;
    margin: 1px !important;
    padding: 0 !important;
    opacity: .5;
    transition: opacity .2s;
    -moz-transition: opacity .2s;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.abh_tab_content .abh_social a:hover {
    opacity: 1
}

.abh_tab_content .abh_social a.abh_facebook {
    background-position: 0 0
}

.abh_tab_content .abh_social a.abh_flickr {
    background-position: -24px 0
}

.abh_tab_content .abh_social a.abh_google {
    background-position: -48px 0
}

.abh_tab_content .abh_social a.abh_instagram {
    background-position: -72px 0
}

.abh_tab_content .abh_social a.abh_linkedin {
    background-position: -96px 0
}

.abh_tab_content .abh_social a.abh_pinterest {
    background-position: -120px 0
}

.abh_tab_content .abh_social a.abh_tumblr {
    background-position: -144px 0
}

.abh_tab_content .abh_social a.abh_twitter {
    background-position: -168px 0
}

.abh_tab_content .abh_social a.abh_vimeo {
    background-position: -192px 0
}

.abh_tab_content .abh_social a.abh_youtube {
    background-position: -216px 0
}

.abh_box .vcard {
    background: none;
    font-size: 100%;
    border: none
}

.abh_box .abh_pwb {
    display: none
}