input[type=range] { -webkit-appearance: none; border: 1px solid white; width: 75%; background: none; }
input[type=range]::-webkit-slider-runnable-track { width: 75%; height: 5px; background: #d3eaf3; border: none; border-radius: 3px; }
input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; border: none; height: 16px; width: 16px; border-radius: 50%; background: #41ccff; margin-top: -4px; }
input[type=range]:focus { outline: none; }
input[type=range]:focus::-webkit-slider-runnable-track { background: #d3eaf3; }
input[type=range]::-moz-range-track { width: 75%; height: 5px; background: #d3eaf3; border: none; border-radius: 3px; }
input[type=range]::-moz-range-thumb { border: none; height: 16px; width: 16px; border-radius: 50%; background: #41ccff; }
input[type=range]:-moz-focusring { outline: 1px solid white; outline-offset: -1px; }
input[type=range]::-ms-track { width: 75%; height: 5px; background: transparent; border-color: transparent; border-width: 6px 0; color: transparent; }
input[type=range]::-ms-fill-lower { background: #777; border-radius: 10px; }
input[type=range]::-ms-fill-upper { background: #d3eaf3; border-radius: 10px; }
input[type=range]::-ms-thumb { border: none; height: 16px; width: 16px; border-radius: 50%; background: #41ccff; }
input[type=range]:focus::-ms-fill-lower { background: #888; }
input[type=range]:focus::-ms-fill-upper { background: #d3eaf3; }

.switch { display: table-cell; vertical-align: middle; padding: 5px; }
.cmn-toggle { position: absolute; margin-left: -9999px; visibility: hidden; }
.cmn-toggle + label { display: block; position: relative; cursor: pointer; outline: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
input.cmn-toggle-yes-no + label { padding: 2px; width: 80px; height: 30px; margin-left: 100%; }
input.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after { display: block; position: absolute; top: 0; left: 0; bottom: 0; right: 0; font-family: "Roboto Slab", serif; font-size: 16px; text-align: center; line-height: 35px; border-radius: 5px; }
input.cmn-toggle-yes-no + label:before { background-color: #ff0000; color: #fff; content: attr(data-off); -webkit-transition: -webkit-transform 0.5s; -moz-transition: -moz-transform 0.5s; -o-transition: -o-transform 0.5s; transition: transform 0.5s; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; }
input.cmn-toggle-yes-no + label:after { background-color: #77cc7f; color: #fff; content: attr(data-on); -webkit-transition: -webkit-transform 0.5s; -moz-transition: -moz-transform 0.5s; -o-transition: -o-transform 0.5s; transition: transform 0.5s; -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -ms-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -ms-backface-visibility: hidden; -o-backface-visibility: hidden; backface-visibility: hidden; }
input.cmn-toggle-yes-no:checked + label:before { -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -ms-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); }
input.cmn-toggle-yes-no:checked + label:after { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); -ms-transform: rotateY(0); -o-transform: rotateY(0); transform: rotateY(0); }

.wp-picker-clear { display: none !important; }
.wp-picker-container .iris-picker { margin-left: 100px; position: absolute; z-index: 9999999999; }
.wp-picker-container, .wp-picker-container:active { margin-top: 5px; }

.Total_Soft_Poll_AMD { width: 99%; position: relative; height: 120px; background-color:#ffffff; margin-top: 10px; margin-left: 0; box-shadow: inset 0px 0px 10px #dedcdc; border-radius: 5px; }
.Total_Soft_Poll_AMD1 { width: 150px; height: 80px; position: relative; margin: 0 auto; background:url('../Images/TotalSoftLogo.png'); background-size: 150px 60px; background-repeat: no-repeat; }
.Total_Soft_Poll_AMD2, .Total_Soft_Poll_AMD3 { position: relative; width: 100%; }
.Total_Soft_Poll_AMD3 { display: none; }
.Total_Soft_Poll_Help { font-size: 18px !important; cursor: pointer; color: #009491; float: right; margin-right: 10px; margin-top:5px; }
.Total_Soft_Poll_Help:hover { opacity: 0.8; }
.Total_Soft_Poll_Help1 { font-size: 18px !important; cursor: pointer; color: #41ccff; float: right; margin-right: 10px; line-height: 42px !important; }
.Total_Soft_Poll_Help1:hover { opacity: 0.8 }
.Total_Soft_Poll_Help2 { font-size: 18px !important; cursor: pointer; color: #009491; margin-left: 10px; }
.Total_Soft_Poll_Help2:hover { opacity: 0.8 }
.Total_Soft_Poll_Help3 { font-size: 16px !important; cursor: pointer; color: #ffa500; float: right; margin-right: 10px; margin-top: 3px; }
.Total_Soft_Poll_Help3:hover { opacity: 0.8; }
.Total_Soft_Poll_AMD2_But { float: right; margin-right: 10px; background-color: #009491; color:#ffffff; box-shadow: inset 0px 0px 5px #ffffff; -moz-box-shadow: inset 0px 0px 5px #ffffff; -webkit-box-shadow: inset 0px 0px 5px #ffffff; cursor:pointer; border: none; padding: 5px 10px; border-radius: 3px; font-family: "Cutive, serif"; position: relative; z-index: 1; overflow: hidden; min-width: 100px; text-align: center; }
.Total_Soft_Poll_AMD2_But:before { content: ""; width: 50px; height: 500%; position: absolute; top: -250%; left: -100%; z-index: -1; transform: rotate(35deg); -moz-transform: rotate(35deg); -webkit-transform: rotate(35deg); transition: all 700ms; -moz-transition: all 700ms; -webkit-transition: all 700ms; background: rgba(255, 255, 255, 0.1); }
.Total_Soft_Poll_AMD2_But:hover:before { left: 250%; }
.Total_Soft_Poll_AMD2_But:focus { outline: none !important; }
.Total_Soft_Poll_AMD2_But_LP, .Total_Soft_Poll_AMD2_But_LP:hover, .Total_Soft_Poll_AMD2_But_LP:focus, .Total_Soft_Poll_AMD2_But_LP:active { text-decoration: none; outline: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }

.Total_Soft_Poll_AMMTable { border-collapse: separate; border-spacing: 1px; width: 99%; background-color: #ffffff; text-align: center; margin-top: 15px; color: #ffffff; opacity: 1; font-family: "Cutive, serif"; cursor: default; font-size: 14px; line-height: 1.6; }
.Total_Soft_Poll_AMMTableFR { background-color: #009491; }
.Total_Soft_Poll_AMMTable td:nth-child(1) { width: 5%; }
.Total_Soft_Poll_AMMTable td:nth-child(2) { width: 30%; }
.Total_Soft_Poll_AMMTable td:nth-child(3) { width: 10%; }
.Total_Soft_Poll_AMMTable td:nth-child(4) { width: 15%; }
.Total_Soft_Poll_AMMTable td:nth-child(5) { width: 10%; }
.Total_Soft_Poll_AMMTable td:nth-child(6) { width: 10%; }
.Total_Soft_Poll_AMMTable td:nth-child(7) { width: 10%; }
.Total_Soft_Poll_AMMTable td:nth-child(8) { width: 10%; }

.Total_Soft_Poll_AMOTable { border-collapse: separate; border-spacing: 1px; width: 99%; background-color: #f1f1f1; text-align: center; margin-top: 5px; opacity: 1; font-family: "Cutive, serif"; cursor: default; font-size: 14px; line-height: 1.6; }
.Total_Soft_Poll_AMOTable i { position: absolute; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; }
.Total_Soft_Poll_AMOTable i:before { display: block; position: relative; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.Total_Soft_Poll_AMOTable tr:nth-child(odd) { background-color: #f4f4f4; }
.Total_Soft_Poll_AMOTable tr:nth-child(even) { background-color: #ffffff; }
.Total_Soft_Poll_AMOTable tr:hover { background-color: #dddddd; }
.Total_Soft_Poll_AMOTable td:nth-child(1) { width: 5%; }
.Total_Soft_Poll_AMOTable td:nth-child(2) { width: 30%; }
.Total_Soft_Poll_AMOTable td:nth-child(3) { width: 10%; }
.Total_Soft_Poll_AMOTable td:nth-child(4) { width: 15%; }
.Total_Soft_Poll_AMOTable td:nth-child(5) i { color: #77cc7f; }
.Total_Soft_Poll_AMOTable td:nth-child(6) i { color: #ffa500; }
.Total_Soft_Poll_AMOTable td:nth-child(7) i { color: #41ccff; }
.Total_Soft_Poll_AMOTable td:nth-child(8) i { color: #ff0000; }
.Total_Soft_Poll_AMOTable td:nth-child(5), .Total_Soft_Poll_AMOTable td:nth-child(6), .Total_Soft_Poll_AMOTable td:nth-child(7), .Total_Soft_Poll_AMOTable td:nth-child(8) { width: 10%; position: relative; font-size: 18px !important; overflow: hidden; }
.Total_Soft_Poll_AMOTable td:nth-child(5):hover, .Total_Soft_Poll_AMOTable td:nth-child(6):hover, .Total_Soft_Poll_AMOTable td:nth-child(7):hover, .Total_Soft_Poll_AMOTable td:nth-child(8):hover { opacity: 0.8; }

.Total_Soft_Poll_AMShortTable { border-collapse: separate; border-spacing: 1px; width: 80%; margin: 15px auto; background-color: #f1f1f1; text-align: center; color: #000; display: none; opacity: 0; font-family: "Cutive, serif"; cursor: default; font-size: 14px; line-height: 1.5; }
.Total_Soft_Poll_AMShortTable tr:nth-child(1) { background-color: #009491; color: #ffffff; }
.Total_Soft_Poll_AMShortTable tr:nth-child(2) { background-color: #ffffff; color: #414141; }
.Total_Soft_Poll_AMShortTable tr:nth-child(3) { background-color: #f4f4f4; color: #414141; }
.Total_Soft_Poll_AMShortTable td { width: 50%; position: relative; }

.Total_Soft_Poll_Add_Answer { border-collapse: separate; border-spacing: 1px; width: 100%; background-color: #f1f1f1; text-align: center; color: #000; font-family: "Cutive, serif"; cursor: default; font-size: 14px; line-height: 1.6; }
.Total_Soft_Poll_Add_Answer tr:nth-child(1) { background-color: #009491; color: #ffffff; }

.Total_Soft_Poll_Add_MTable { border-collapse: separate; border-spacing: 1px; width: 100%; margin-top: 15px; background-color: #f1f1f1; text-align: center; color: #000; font-family: "Cutive, serif"; cursor: default; font-size: 14px; line-height: 1.6; }
.Total_Soft_Poll_Add_MTable tr:nth-child(odd) { background-color: #f4f4f4; }
.Total_Soft_Poll_Add_MTable tr:nth-child(even) { background-color: #ffffff; }
.Total_Soft_Poll_Add_MTable td { width: 50%; position: relative; }
.TS_Poll_AM_Table_Div { margin: 15px auto; width: 80%; position: relative; z-index: 0; display: none; opacity: 0; box-shadow:0 1px 4px #ffffff, 0 0 40px #ffffff inset; -webkit-box-shadow:0 1px 4px #ffffff, 0 0 40px #ffffff inset; -moz-box-shadow:0 1px 4px #ffffff, 0 0 40px #ffffff inset; }
.TS_Poll_AM_Table_Div:before, .TS_Poll_AM_Table_Div:after { content:""; position:absolute; z-index:-1; box-shadow:0 0 20px #ffffff; -webkit-box-shadow:0 0 20px #ffffff; -moz-box-shadow:0 0 20px #ffffff; top:50%; bottom:0; left:10px; right:10px; border-radius:100px / 10px; }

.Total_Soft_Poll_Select { width: 70%; }
#Total_Soft_Poll_UpdAns { display: none; }
.TSPDUFS { position: absolute; margin-left: 10px; top: 50%; -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -o-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); font-size: 16px !important; color: #ff0000; cursor: pointer; }

.Total_Soft_Poll_AnswersTable { border-collapse: separate; border-spacing: 1px; margin-top: 15px; background-color: #f1f1f1; text-align: center; padding: 0px; width: 99%; display: none; opacity: 0; font-family: "Cutive, serif"; cursor: default; font-size: 14px; line-height: 1.6; }
.Total_Soft_Poll_AnswersTable tr { background-color: #009491; color: #ffffff; }
.Total_Soft_Poll_AnswersTable td:nth-child(1), .Total_Soft_Poll_AnswersTable td:nth-child(5), .Total_Soft_Poll_AnswersTable td:nth-child(6), .Total_Soft_Poll_AnswersTable td:nth-child(7) { width:5%; }
.Total_Soft_Poll_AnswersTable td:nth-child(2) { width: 25%; }
.Total_Soft_Poll_AnswersTable td:nth-child(3) { width: 30%; }
.Total_Soft_Poll_AnswersTable td:nth-child(4) { width: 25%; }

#TotalSoftPoll_AnswerUl { width: 99%; cursor: move; }
#TotalSoftPoll_AnswerUl li { margin:0; }
.Total_Soft_Poll_AnswersTable1 { border-collapse: separate; border-spacing: 1px; background-color: #f1f1f1; text-align: center; width: 100%; }
.Total_Soft_Poll_AnswersTable1 input[type=text] { box-shadow: none !important; }
.Total_Soft_Poll_AnswersTable1 input[type=text]:focus, .Total_Soft_Poll_AnswersTable1 input[type=text]:hover { outline: none !important; }
.Total_Soft_Poll_AnswersTable1 i { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.Total_Soft_Poll_AnswersTable1 i:before { display: block; position: relative; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.Total_Soft_Poll_AnswersTable1 td:nth-child(1), .Total_Soft_Poll_AnswersTable1 td:nth-child(5), .Total_Soft_Poll_AnswersTable1 td:nth-child(6), .Total_Soft_Poll_AnswersTable1 td:nth-child(7){ width:5%; }
.Total_Soft_Poll_AnswersTable1 td:nth-child(2) { width: 25%; }
.Total_Soft_Poll_AnswersTable1 td:nth-child(3) { width: 30%; }
.Total_Soft_Poll_AnswersTable1 td:nth-child(4) { width: 25%; }
.Total_Soft_Poll_AnswersTable1 td:nth-child(5) i { color: #ffa500; }
.Total_Soft_Poll_AnswersTable1 td:nth-child(6) i { color: #41ccff; }
.Total_Soft_Poll_AnswersTable1 td:nth-child(7) i { color: #ff0000; }
.Total_Soft_Poll_AnswersTable1 td:nth-child(5), .Total_Soft_Poll_AnswersTable1 td:nth-child(6), .Total_Soft_Poll_AnswersTable1 td:nth-child(7) { cursor: pointer; position: relative; overflow: hidden; font-size: 18px !important; }
.Total_Soft_Poll_AnswersTable1 td:nth-child(5):hover, .Total_Soft_Poll_AnswersTable1 td:nth-child(6):hover, .Total_Soft_Poll_AnswersTable1 td:nth-child(7):hover { opacity: 0.8; }
.Total_Soft_Poll_AnswersTable1 td { padding: 0; height:80px; }
.Total_Soft_Poll_AnswersTable1 tr:hover { background-color: #dddddd !important; }

.Total_Soft_Poll_AnswersTable2 tr:nth-child(odd) { background-color: #f4f4f4; }
.Total_Soft_Poll_AnswersTable3 tr:nth-child(odd) { background-color: #ffffff; }
.Total_Soft_Poll_Select1 { border:none !important; background-color: transparent !important; }
.TotalSoftPollAnsImage { height: 100%; max-height: 70px; margin-top: 5px; }

.Total_Soft_Poll_TMMTable { border-collapse: separate; border-spacing: 1px; width: 99%; background-color: #ffffff; text-align: center; margin-top: 15px; padding: 0px; color: #ffffff; opacity: 1; font-family: "Cutive, serif"; cursor: default; font-size: 14px; line-height: 1.6; }
.Total_Soft_Poll_TMMTableFR { background-color: #009491; }
.Total_Soft_Poll_TMMTable td:nth-child(1) { width: 10%; }
.Total_Soft_Poll_TMMTable td:nth-child(2) { width: 25%; }
.Total_Soft_Poll_TMMTable td:nth-child(3) { width: 25%; }
.Total_Soft_Poll_TMMTable td:nth-child(4) { width: 10%; }
.Total_Soft_Poll_TMMTable td:nth-child(5) { width: 10%; }
.Total_Soft_Poll_TMMTable td:nth-child(6) { width: 10%; }
.Total_Soft_Poll_TMMTable td:nth-child(7) { width: 10%; }

.Total_Soft_Poll_TMOTable { border-collapse: separate; border-spacing: 1px; width: 99%; background-color: #f1f1f1; text-align: center; margin-top: 5px; padding: 0px; opacity: 1; font-family: "Cutive, serif"; cursor: default; font-size: 14px; line-height: 1.6; }
.Total_Soft_Poll_TMOTable i { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.Total_Soft_Poll_TMOTable i:before { display: block; position: relative; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.Total_Soft_Poll_TMOTable tr:nth-child(odd) { background-color: #f4f4f4; }
.Total_Soft_Poll_TMOTable tr:nth-child(even) { background-color: #ffffff; }
.Total_Soft_Poll_TMOTable tr:hover { background-color: #dddddd; }
.Total_Soft_Poll_TMOTable td:nth-child(1) { width: 10%; }
.Total_Soft_Poll_TMOTable td:nth-child(2) { width: 25%; }
.Total_Soft_Poll_TMOTable td:nth-child(3) { width: 25%; }
.Total_Soft_Poll_TMOTable td:nth-child(4) i { color: #77cc7f; }
.Total_Soft_Poll_TMOTable td:nth-child(5) i { color: #ffa500; }
.Total_Soft_Poll_TMOTable td:nth-child(6) i { color: #41ccff; }
.Total_Soft_Poll_TMOTable td:nth-child(7) i { color: #ff0000; }
.Total_Soft_Poll_TMOTable td:nth-child(4), .Total_Soft_Poll_TMOTable td:nth-child(5), .Total_Soft_Poll_TMOTable td:nth-child(6), .Total_Soft_Poll_TMOTable td:nth-child(7) { width: 10%; cursor: pointer; font-size: 18px !important; position: relative; overflow: hidden; }
.Total_Soft_Poll_TMOTable td:nth-child(4):hover, .Total_Soft_Poll_TMOTable td:nth-child(5):hover, .Total_Soft_Poll_TMOTable td:nth-child(6):hover, .Total_Soft_Poll_TMOTable td:nth-child(7):hover { opacity: 0.8; }

.Total_Soft_Poll_TMSetTable { border-collapse: separate; border-spacing: 1px; margin-top: 15px; background-color: #ffffff; text-align: center; padding: 0px; width: 99% !important; display: none; }
.Total_Soft_Poll_TMSetTable tr:nth-child(odd) { background-color: #f4f4f4; }
.Total_Soft_Poll_TMSetTable tr:nth-child(even) { background-color: #dddddd; }
.Total_Soft_Poll_TMSetTable td { padding: 0; height: 38px; width: 25%; }
.Total_Soft_Poll_TMSetTable td:nth-child(odd) { text-align: center; }
.Total_Soft_Poll_TMSetTable td:nth-child(even) { text-align: left; padding-left: 10px; }
.Total_Soft_Poll_TMTitles { color: #009491; font-weight: 900; width: 100%; }
.Total_Soft_Poll_TMTitles1 { margin-top: 15px; }
.TotalSoft_Poll_Out { margin-left: 10px; }

.Total_Soft_Poll_Results_Quest { position:relative; border:1px solid white; background-color:#009491; color:white; border-radius:7px; margin: 5px auto; width: 50%; }
.Total_Soft_Poll_Results_Table { border-collapse: separate; border-spacing: 1px; width: 99%; background-color: #f1f1f1; text-align: center; margin-top: 15px; padding: 0px; opacity: 1; font-family: "Cutive, serif"; cursor: default; font-size: 14px; line-height: 1.6; }
.Total_Soft_Poll_Results_Table tr:nth-child(1) { font-size: 18px; height: 30px; }
.Total_Soft_Poll_Results_Table tr:nth-child(odd) { background-color: #f4f4f4; }
.Total_Soft_Poll_Results_Table tr:nth-child(even) { background-color: #ffffff; }
.Total_Soft_Poll_Results_Table td:nth-child(1) { width: 10%; }
.Total_Soft_Poll_Results_Table td:nth-child(2) { width: 40%; }
.Total_Soft_Poll_Results_Table td:nth-child(3) { width: 35%; }
.Total_Soft_Poll_Results_Table td:nth-child(4) { width: 15%; }

.Total_Soft_Poll_Info_Quest { position:relative; border:1px solid white; background-color:#009491; color:white; border-radius:7px; margin: 5px auto; width: 50%; }
.Total_Soft_Poll_Info_Table { border-collapse: separate; border-spacing: 1px; width: 99%; background-color: #f1f1f1; text-align: center; margin-top: 15px; padding: 0px; opacity: 1; font-family: "Cutive, serif"; cursor: default; font-size: 14px; line-height: 1.6; }
.Total_Soft_Poll_Info_Table tr:nth-child(1) { font-size: 18px; height: 30px; }
.Total_Soft_Poll_Info_Table tr:nth-child(odd) { background-color: #f4f4f4; }
.Total_Soft_Poll_Info_Table tr:nth-child(even) { background-color: #ffffff; }
.Total_Soft_Poll_Info_Table tr:hover { background-color: #dddddd; }
.Total_Soft_Poll_Info_Table tr:nth-child(1):hover { background-color: #f4f4f4; }
.Total_Soft_Poll_Info_Table td:nth-child(1) { width: 10%; }
.Total_Soft_Poll_Info_Table td:nth-child(2) { width: 15%; }
.Total_Soft_Poll_Info_Table td:nth-child(3) { width: 15%; }
.Total_Soft_Poll_Info_Table td:nth-child(4) { width: 15%; }
.Total_Soft_Poll_Info_Table td:nth-child(5) { width: 15%; }
.Total_Soft_Poll_Info_Table td:nth-child(6) { width: 15%; }
.Total_Soft_Poll_Info_Table td:nth-child(7) { width: 15%; }

.Total_Soft_Poll_SMMTable { border-collapse: separate; border-spacing: 1px; width: 99%; background-color: #ffffff; text-align: center; margin-top: 15px; padding: 0px; color: #ffffff; opacity: 1; font-family: "Cutive, serif"; cursor: default; font-size: 14px; line-height: 1.6; }
.Total_Soft_Poll_SMMTableFR { background-color: #009491; }
.Total_Soft_Poll_SMMTable td:nth-child(1) { width: 10%; }
.Total_Soft_Poll_SMMTable td:nth-child(2) { width: 30%; }
.Total_Soft_Poll_SMMTable td:nth-child(3) { width: 30%; }
.Total_Soft_Poll_SMMTable td:nth-child(4) { width: 10%; }
.Total_Soft_Poll_SMMTable td:nth-child(5) { width: 10%; }
.Total_Soft_Poll_SMMTable td:nth-child(6) { width: 10%; }

.Total_Soft_Poll_SMOTable td { text-align: center !important; padding: 1px !important;}
.Total_Soft_Poll_SMMTable td { text-align: center !important; padding: 1px !important;}
.Total_Soft_Poll_AMMTable td { text-align: center !important; padding: 1px !important;}
.Total_Soft_Poll_AMOTable td { text-align: center !important; padding: 1px !important;}
.Total_Soft_Poll_AMShortTable td { text-align: center !important; padding: 1px !important;}
.Total_Soft_Poll_Add_Answer td { text-align: center !important; padding: 1px !important;}
.Total_Soft_Poll_Add_MTable td { text-align: center !important; padding: 1px !important;}
.Total_Soft_Poll_AnswersTable td { text-align: center !important; padding: 1px !important;}
#TotalSoftPoll_AnswerUl td { text-align: center !important; padding: 1px !important;}
.Total_Soft_Poll_TMMTable td { text-align: center !important; padding: 1px !important;}
.Total_Soft_Poll_TMOTable td { text-align: center !important; padding: 1px !important;}
.Total_Soft_Poll_Results_Table td { text-align: center !important; padding: 1px !important;}
.Total_Soft_Poll_Info_Table td { text-align: center !important; padding: 1px !important;}

.Total_Soft_Poll_SMOTable { border-collapse: separate; border-spacing: 1px; width: 99%; background-color: #f1f1f1; text-align: center; margin-top: 5px; padding: 0px; opacity: 1; font-family: "Cutive, serif"; cursor: default; font-size: 14px; line-height: 1.6;}
.Total_Soft_Poll_SMOTable i { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.Total_Soft_Poll_SMOTable i:before { display: block; position: relative; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); }
.Total_Soft_Poll_SMOTable tr:nth-child(odd) { background-color: #f4f4f4; }
.Total_Soft_Poll_SMOTable tr:nth-child(even) { background-color: #ffffff; }
.Total_Soft_Poll_SMOTable tr:hover { background-color: #dddddd; }
.Total_Soft_Poll_SMOTable td:nth-child(1) { width: 10%; }
.Total_Soft_Poll_SMOTable td:nth-child(2) { width: 30%; }
.Total_Soft_Poll_SMOTable td:nth-child(3) { width: 30%; }
.Total_Soft_Poll_SMOTable td:nth-child(4) i { color: #ffa500; }
.Total_Soft_Poll_SMOTable td:nth-child(5) i { color: #41ccff; }
.Total_Soft_Poll_SMOTable td:nth-child(6) i { color: #ff0000; }
.Total_Soft_Poll_SMOTable td:nth-child(4), .Total_Soft_Poll_SMOTable td:nth-child(5), .Total_Soft_Poll_SMOTable td:nth-child(6) { width: 10%; cursor: pointer; font-size: 18px !important; position: relative; overflow: hidden; }
.Total_Soft_Poll_SMOTable td:nth-child(4):hover, .Total_Soft_Poll_SMOTable td:nth-child(5):hover, .Total_Soft_Poll_SMOTable td:nth-child(6):hover { opacity: 0.8; }

.Support_Span { position: absolute; color:#009491; font-size:16px; font-family: "Cutive, serif"; text-align: left; bottom: 10px; left: 10px; }
.Support_Span i { font-size: 24px; }
.Support_Span a { text-decoration: none; color:#009491; }
.Support_Span a:hover, .Support_Span a:focus { text-decoration: none; color:#009491; outline: 0; box-shadow: none; }

.Total_Soft_Poll_Del_Span { position: absolute; width: 100%; height: 100%; background-color: #ffffff; top: 0; left: 0; transform: translateX(100%); -webkit-transform: translateX(100%); text-align: center; -webkit-transition-duration: 1s; transition-duration: 1s; }
.Total_Soft_Poll_Del_Span1 { transform: translateX(0%); -webkit-transform: translateX(0%); }

.Total_Soft_Poll_Del_Span_Yes { color: #6ad91f !important; cursor: pointer; width: 50% !important; left: 0 !important; }
.Total_Soft_Poll_Del_Span_No { color: #ff0000 !important; cursor: pointer; width: 50% !important; right: 0 !important; left: auto !important; }
.Total_Soft_Poll_Del_Span_Yes:hover, .Total_Soft_Portfolio_Del_Span_No:hover { opacity: 0.8; }

.TS_Poll_AM_ANV { position: relative; width: 100%; margin: 5px 0 0 0; text-align: center; }
.TS_Poll_AM_ANV .TS_Poll_AM_ANV_Span1 { background: #009491; color: #ffffff; font-size: 18px; font-family: "Cutive, serif"; -webkit-perspective: 800px; -moz-perspective: 800px; -o-perspective: 800px; -ms-perspective: 800px; perspective: 800px; cursor: pointer; }
.TS_Poll_AM_ANV_Icon { font-size: 20px; }
.TS_Poll_AM_ANV .TS_Poll_AM_ANV_Span1 .TS_Poll_AM_ANV_Span2 { display: block; padding: 3px 100px; z-index: 1; transition: all 0.3s; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; color: #ffffff; }
.TS_Poll_AM_ANV .TS_Poll_AM_ANV_Span1 { display: inline-block; position: relative; border-radius: 5px; transition: all 0.3s; -moz-transition: all 0.3s; -webkit-transition: all 0.3s; overflow: hidden; }
.TS_Poll_AM_ANV .TS_Poll_AM_ANV_Span1:before, .TS_Poll_AM_ANV .TS_Poll_AM_ANV_Span1:after { content: ""; position: absolute; top: 0%; left: 0%; width: 100%; height: 100%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; z-index: -1; -webkit-transform: translate(-105%, 0); -moz-transform: translate(-105%, 0); transform: translate(-105%, 0); background: rgba(255, 255, 255, 0.1); -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); -moz-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1); }
.TS_Poll_AM_ANV .TS_Poll_AM_ANV_Span1:hover:after { -webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; transition-delay: 0.2s; }
.TS_Poll_AM_ANV .TS_Poll_AM_ANV_Span1:hover:before, .TS_Poll_AM_ANV .TS_Poll_AM_ANV_Span1:hover:after { -webkit-transform: translate(0,0); -moz-transform: translate(0,0); transform: translate(0,0); }

.TS_Poll_Add_Answer_Fixed_div { position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 999; background: rgba(0, 0, 0, 0.1); transform: scale(0); -moz-transform: scale(0); -webkit-transform: scale(0); transition: transform .5s ease 0s; -moz-transition: transform .5s ease 0s; -webkit-transition: transform .5s ease 0s; }
.TS_Poll_Add_Answer_Absolute_div { position: fixed; width: 100%; z-index: 1000; top: 50%; transform: translateY(-50%) scale(0); -moz-transform: translateY(-50%) scale(0); -webkit-transform: translateY(-50%) scale(0); left: 0; text-align: center; transition: transform .5s ease 0s; -moz-transition: transform .5s ease 0s; -webkit-transition: transform .5s ease 0s; }
.TS_Poll_Add_Answer_Relative_div { position: relative; margin: 0 auto; float: left; width: 60%; left: 50%; transform: translateX(-50%); -moz-transform: translateX(-50%); -webkit-transform: translateX(-50%); }
.TS_Poll_Add_Answer_Table { border-collapse: separate; border-spacing: 1px; background-color: #ffffff; text-align: center; padding: 0px; width: 100%; border: 5px solid #ffffff; font-family: "Cutive, serif"; }
.TS_Poll_Add_Answer_Table td { padding: 0; height: 38px; width: 50%; }
.TS_Poll_Add_Answer_Table tr:nth-child(odd) { background-color: #f4f4f4; }
.TS_Poll_Add_Answer_Table tr:nth-child(even) { background-color: #ffffff; }

.Total_Soft_Poll_Loading { position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 999999999999; background: rgba(0, 0, 0, 0.2); display: none; }
.Total_Soft_Poll_Loading img { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); }

.TS_Poll_Option_Div_Set { position: relative; display: block; display: none; }
.TS_Poll_Option_Div_Set div.TS_Poll_Option_Div1 { text-align: center; float: left; width: 100%; height: 42px; line-height: 42px; }
.TS_Poll_Option_Div_Set div.TS_Poll_Option_Div1:nth-child(odd) { background: #f9f9f9; }
.TS_Poll_Option_Div { position: relative; display: block; width: 50%; display: none; }
.TS_Poll_Option_Divv { width: 100% !important; }
.TS_Poll_Option_Divv1 { width: 50%; display: inline-block; vertical-align: top; }
.TS_Poll_Option_Divv2 { width: calc(49% - 10px); margin-left: 10px; display: inline-block; vertical-align: top; }
.TS_Poll_Option_Div div.TS_Poll_Option_Div1 { text-align: center; float: left; width: 100%; height: 42px; line-height: 42px; }
.TS_Poll_Option_Div div.TS_Poll_Option_Div1:nth-child(odd) { background: #f9f9f9; }
.TS_Poll_Option_Div div.TS_Poll_Option_Div1:nth-child(even) { background: #ffffff; }
.TS_Poll_Option_Name { position: relative; width: 50%; float: left; }
.TS_Poll_Option_Field { position: relative; width: 50%; float: left; }
.TS_Poll_Settings_OVS{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 168px}
/*.TS_Poll_Option_OCO{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 435px}*/
.TS_Poll_Option_OAO{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 519px}
.TS_Poll_Option_OVB{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 1149px}
.TS_Poll_Option_OGO{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 576px}
.TS_Poll_Option_OAO1{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 753px}
.TS_Poll_Option_OVB1{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 672px}
.TS_Poll_Option_ORB{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 674px}
.TS_Poll_Option_OAO2{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 561px}
.TS_Poll_Option_OTV{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 334px}
.TS_Poll_Option_OVO{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 292px}
.TS_Poll_Option_ORB1{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 716px}
.TS_Poll_Option_OAO3{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 420px}
.TS_Poll_Option_OIO{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 210px}
.TS_Poll_Option_OPO{width: 100%; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 252px}
.TS_Poll_Results_Table_O{width: 100%; top: 176px; background-color: black; z-index: 8; position: absolute; opacity: 0.3; height: 170px}



/*@media only screen and (max-width: 820px) 
{
	.TS_Poll_Option_Div, .TS_Poll_Option_Divv1, .TS_Poll_Option_Divv2 { width: 100% !important; display: block; margin-left: 0 !important; }
	.TS_Poll_Option_Divv2 .Total_Soft_Titles { margin-top: 15px !important; }
}*/
@media only screen and (max-width: 400px) 
{
	.TS_Poll_Option_Div, .TS_Poll_Option_Divv1, .TS_Poll_Option_Divv2 { width: 100% !important; display: block; margin-left: 0 !important; }
	.TS_Poll_Option_Divv2 .Total_Soft_Titles { margin-top: 15px !important; }


	.TS_Poll_Settings_OVS{height: 336px;}
	.TS_Poll_Option_OAO{height: 2000px;}
	.TS_Poll_Option_OVB{height: 3631px;}
	.TS_Poll_Option_OGO{height: 2146px;}
	.TS_Poll_Option_OAO1{height: 2900px;}
	.TS_Poll_Option_OVB1{height: 1770px;}
	.TS_Poll_Option_ORB{height: 2187px;}
	.TS_Poll_Option_OAO2{height: 2132px;}
	.TS_Poll_Option_OTV{height: 668px;}
	.TS_Poll_Option_OVO{height: 584px;}
	.TS_Poll_Option_ORB{height: 1432px;}
	.TS_Poll_Option_OAO3{height: 840px;}
	.TS_Poll_Option_OIO{height: 677px;}
	.TS_Poll_Option_OPO{height: 504px;}
	.TS_Poll_Results_Table_O{top: 187px; height: 239px;}

	.TS_Poll_Option_Name, .TS_Poll_Option_Field { width: 100% !important; }
	.TS_Poll_Option_Div_Set div.TS_Poll_Option_Div1, .TS_Poll_Option_Div div.TS_Poll_Option_Div1 { height: 84px !important; }
}

.Total_Soft_Poll_AMSetDiv { position: relative; margin-top: 15px; width: 99%; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; float: left; display: none; opacity: 0; }
.Total_Soft_Poll_AMSetDiv_Buttons { position: relative; width: 100%; display: block; float: left; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }
.Total_Soft_Poll_AMSetDiv_Button { position: relative; padding: 7px 15px; border: 1px solid #dddddd; background: #ffffff; color: #009491; font-family: "Cutive, serif"; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; float: left; cursor: pointer; }
.Total_Soft_Poll_AMSetDiv_Button:hover { background: #f4f4f4; }
.Total_Soft_Poll_AMSetDiv_Button_C { background: #f4f4f4; }
.Total_Soft_Poll_AMSetDiv_Content { position: relative; width: 100%; display: block; float: left; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; }

.TS_Poll_TP_No { color: #00a20f !important; }
.Full_Version { position: relative; text-align: center; padding: 9px 25px; float: left; background-color: #009491; color: #ffffff; font-size: 20px; font-family: "Cutive, serif"; transition-duration: 1s; margin:10px 0px 0px 10px; box-shadow: inset 0px 0px 10px #ffffff; -moz-box-shadow: inset 0px 0px 10px #ffffff; -webkit-box-shadow: inset 0px 0px 10px #ffffff; border-radius: 3px; }
.Full_Version_Span { position: absolute; color:#009491; font-size:16px; text-align: left; top: 55px; left: 10px; font-family: "Cutive, serif"; cursor: default; }
.Full_Version:hover { background-color: #04827f; color:#ffffff; }
.TS_Free_version_Span { color: #41ccff; font-weight: 900; }